# Trabalhando com arquivos CSV
#### CSV = Comma Separated Values

In [1]:
with open('dados.csv') as arquivo:
    print(arquivo.read())

josé;30
gabriel;25
lucas;15
ana;45
maria;60
victor;70

In [8]:
import csv

with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo, delimiter = ';')
    for dado in arquivo_csv:
        print(f'Nome: {dado[0]} - Idade: {dado[1]}')

Nome: josé - Idade: 30
Nome: gabriel - Idade: 25
Nome: lucas - Idade: 15
Nome: ana - Idade: 45
Nome: maria - Idade: 60
Nome: victor - Idade: 70

In [4]:
type(dado)

str

# Trabalhando com arquivos JSON
#### JSON = JavaScript Object Notation

In [12]:
import json

with open('dados.json', 'r') as arquivo:
    arquivo_json = json.load(arquivo)
    for dado in arquivo_json:
        print(f"Nome: {dado['nome']} - Idade:{dado['idade']}")

Nome: José - Idade:25
Nome: Maria - Idade:19
Nome: Gabriel - Idade:21
Nome: Lucas - Idade:16

## Biblioteca Pandas

##### Trabalha facilmente com vários formatos de arquivos

In [13]:
import pandas as pd

#### Método read_csv()

In [22]:
arquivo = pd.read_csv('dados.csv', delimiter=';', names = ['nome', 'idade'])

In [23]:
arquivo

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

#### Método read_csv()

In [24]:
arquivo = pd.read_json('dados.json')

In [25]:
arquivo

      nome  idade
0     José     25
1    Maria     19
2  Gabriel     21
3    Lucas     16

### Salvando um arquivo com o Pandas

In [29]:
arquivo.to_csv('dados_json_em_csv_2.csv', index = False)